.serachContainer {
    display: flex;
    margin: 5rem auto 0 ;
    gap: 1rem;
   
}
.sercheInput {
    width: 100%;
 background-color: rgba(250,250,250,0.3);
 border: none;
 border-bottom: solid 3px white;
 border-radius: 0;
}